@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src:
    local("Roboto-Regular"),
    url("roboto.woff") format("woff");
}

body {
	position: absolute;
	width: 1440px;
	height: 581px;
	left: 0px;
	top: 0px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	}

.fon {
	position: absolute;
	width:  1440px;
	height: 581px;
	background: #C4C4C4;
	left: 0px;
	top: 0px;
	}

.logo {
	position: absolute;
	width: 130px;
	height: 82.51px;
	left: 120px;
	top: 4px;
	}

.main-menu li:first-child {
	position: absolute;
	width: 61px;
	height: 25px;
	left: 709px;
	top: 33px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;						/* был 18 */
	line-height: 25px;
	/* identical to box height */
	color: #2E2F22;
	list-style-type: none;
}

nav li:nth-child(2) {
	position: absolute;
	width: 76px;
	height: 25px;
	left: 853px;
	top: 33px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	/* identical to box height */


	color: #2E2F22;
	list-style-type: none;
	}

nav li:nth-child(3) {
	position: absolute;
	width: 100px;
	height: 25px;
	left: 1012px;
	top: 33px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	/* identical to box height */
	color: #2E2F22;	
	list-style-type: none;
	}

.main-menu li:last-child {
	position: absolute;
	width: 123px;
	height: 25px;
	left: 1195px;
	top: 33px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	/* identical to box height */
	color: #2E2F22;	
	list-style-type: none;
	}


.main-container {
	position: absolute;
	width: 1200px;
	height: 1290px;
	left: 120px;
	top: 664px;
	display: flex;
	/*border: 1px solid black;*/
	flex-direction: column;
	flex-wrap: wrap;
}

.main-container h1 {
	position: absolute;
	width: 220px;
	height: 55px;
	left: 0px;
	margin-top: 2px;
	/*border: 1px solid black;*/
	padding: auto;

	font-family: 'Spectral SC', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 55px;
	vertical-align: middle;
	/* identical to box height */
	color: #2E2F22;
}	

	.main-container select {
	position: absolute;
	width: 203px;
	height: 46px;
	margin-left: 997px;
	margin-top: 2px;
	background: #D7D1C9;
	border-radius: 10px;

	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #2E2F22;
}

.container {
	height: 1290;
	width: 1200;
	display: flex;
	flex-wrap: wrap;
	/*border: 1px solid black;*/
	flex-direction: row;
	justify-content: space-between;
  	}

.cont {
	margin-top: 106px;
  	flex-basis: 268px;
  	}

.image-4,.image-5 {
	margin-top: 214px;
  	height: 552px;	
  	box-sizing: border-box;
  	}	

.main-container li:nth-child(1) {
	position: absolute;
	width: 329px;
	height: 27px;
	left: 0px;
	top: 401px;
	font-family: 'Spectral SC', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
	color: #2E2F22;
	list-style-type: none;
	}

.main-container li:nth-child(2) {
	position: absolute;
	width: 387px;
	height: 52px;
	left: 0px;
	top: 436px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #000000;
	list-style-type: none;
	}	

.main-container li:nth-child(3) {
	position: absolute;
	width: 212px;
	height: 26px;
	left: 0px;
	top: 500px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: rgba(46, 47, 34, 0.7);
	list-style-type: none;
	}

.main-container li:nth-child(4) {
	position: absolute;
	width: 83px;
	height: 26px;
	left: 304px;
	top: 500px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: rgba(46, 47, 34, 0.7);
	list-style-type: none;
	}

.main-container li:nth-child(5) {
	position: absolute;
	width: 308px;
	height: 27px;
	left: 406px;
	top: 401px;
	font-family: 'Spectral SC', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
	color: #2E2F22;
	list-style-type: none;
	}

.main-container li:nth-child(6) {
	position: absolute;
	width: 387px;
	height: 52px;
	left: 406px;
	top: 436px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #000000;
	list-style-type: none;
	}	

.main-container li:nth-child(7) {
	position: absolute;
	width: 203px;
	height: 26px;
	left: 406px;
	top: 500px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: rgba(46, 47, 34, 0.7);
	list-style-type: none;
	}

.main-container li:nth-child(8) {
	position: absolute;
	width: 83px;
	height: 26px;
	left: 710px;
	top: 500px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: rgba(46, 47, 34, 0.7);
	list-style-type: none;
	}

.main-container li:nth-child(9) {
	position: absolute;
	width: 380x;
	height: 27px;
	left: 814px;
	top: 401px;
	font-family: 'Spectral SC', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
	color: #2E2F22;
	list-style-type: none;
	}

.main-container li:nth-child(10) {
	position: absolute;
	width: 387px;
	height: 52px;
	left: 814px;
	top: 436px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #000000;
	list-style-type: none;
	}	

.main-container li:nth-child(11) {
	position: absolute;
	width: 198;
	height: 26x;
	left: 814px;
	top: 500px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: rgba(46, 47, 34, 0.7);
	list-style-type: none;
	}	

.main-container li:nth-child(12) {
	position: absolute;
	width: 83px;
	height: 26px;
	left: 1116px;
	top: 500px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: rgba(46, 47, 34, 0.7);
	list-style-type: none;
	}

.main-container li:nth-child(13) {
	position: absolute;
	width: 212px;
	height: 30px;
	left: 82px;
	top: 973px;
	font-family: 'Spectral SC', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	color: #FFFFFF;
	list-style-type: none;
	}

.main-container li:nth-child(14) {
	position: absolute;
	width: 497px;
	height: 56px;
	left: 82px;
	top: 1011px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	color: #FFFFFF;
	list-style-type: none;
	}

.main-container li:nth-child(15) {
	position: absolute;
	width: 203px;
	height: 26px;
	left: 82px;
	top: 1079px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: rgba(255, 255, 255, 0.7);
	list-style-type: none;
	}

.main-container li:nth-child(16) {
	position: absolute;
	width: 83px;
	height: 26px;
	left: 428px;
	top: 1079px;
	font-family:'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: rgba(255, 255, 255, 0.7);
	list-style-type: none;
	}

.main-container li:nth-child(17) {
	position: absolute;
	width: 229px;
	height: 30px;
	left: 692px;
	top: 973px;
	font-family: 'Spectral SC', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	color: #FFFFFF;
	list-style-type: none;
	}

.main-container li:nth-child(18) {
	position: absolute;
	width: 497px;
	height: 56px;
	left: 692px;
	top: 1011px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	color: #FFFFFF;
	list-style-type: none;
	}

.main-container li:nth-child(19) {
	position: absolute;
	width: 253px;
	height: 26px;
	left: 692px;
	top: 1079px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: rgba(255, 255, 255, 0.7);
	list-style-type: none;
	}

.main-container li:nth-child(20) {
	position: absolute;
	width: 83px;
	height: 26px;
	left: 1038px;
	top: 1079px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: rgba(255, 255, 255, 0.7);
	list-style-type: none;
	}

.main-container input {
	position: absolute;
	width: 224px;
	height: 46px;
	left: 488px;
	margin-top: 104px;
	margin-left: 0px;
	
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	background-color: white;

	border: 1px solid #202117;
	box-sizing: border-box;
	border-radius: 10px;
	}



											/* Обо мне */
.about-me {
	position: absolute;
	width: 1180px;
	height: 797px;
	top: 2039px;
	left: 120px;
	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.about-me h1 {
	position: absolute;
	width: 167px;
	height: 55px;
	margin-left: 516px;
	margin-top: 0px;
	
	font-family: 'Spectral SC', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 55px;
	color: #2E2F22;
	}		

.container-2 {
	margin: 0px 0px;
	/*border: 1px solid black;*/
	height: 797px;
	
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-end;

	}
.container-2 .line_13 {
	position: absolute;
	margin-top: 583px;
	margin-left: 610px;
	border:2px solid #D7D1C9;
	height: 214px;
	}

.profile {
	position: absolute;
	/*border: 1px solid black;*/
	width: 497px;
	height: 366px;
	left: 630px;
	top: 146px;

	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #2E2F22;
	}

.dop-info {
	position: absolute;
	/*border: 1px solid black;*/
	width: 550px;
	height: 160px;
	left: 630px;
	top: 610px;

	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-weight: normal;
	font-size: 30px;
	line-height: 40px;
	color: #2E2F22;
	}

		/*Портфолио */

.poftfolio {
	position: absolute;
	width: 1200px;
	height: 779px;
	left: 120px;
	top: 2921px;
	
	display: flex;
	/*border: 1px solid black;*/
	flex-direction: column;
	}

.poftfolio h1 {
	width: 230px;
	height: 55px;
	margin-left: 485px;
	margin-top: 0px;
	font-family: 'Spectral SC', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 55px;
	color: #2E2F22;
	}	

.container-portfolio {
	width: 1200px;
	height: 779px;
	margin-top: 0px;
	/*border: 1px solid black;*/
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

.port {
	margin-top:  49px;
}  	

.poftfolio li:nth-child(1) {
	position: absolute;
	width: 225px;
	height: 30px;
	left: 81px;
	top: 244px;
	font-family: 'Spectral SC', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	color: #2E2F22;
	list-style-type: none;
	}

.poftfolio li:nth-child(2) {
	position: absolute;
	width: 284px;
	height: 28px;
	left: 81px;
	top: 318px;
	font-family: 'Spectral SC', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	color: #2E2F22;
	list-style-type: none;
	}

.poftfolio li:nth-child(3) {
	position: absolute;
	width: 277px;
	height: 78px;
	left: 81px;
	top: 437px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #2E2F22;
	list-style-type: none;
	}

.poftfolio li:nth-child(4) {
	position: absolute;
	width: 156px;
	height: 30px;
	left: 522px;
	top: 244px;
	font-family: 'Spectral SC', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	color: #FFFFFF;
	list-style-type: none;
	}

.poftfolio li:nth-child(5) {
	position: absolute;
	width: 336px;
	height: 56px;
	left: 432px;
	top: 318px;
	font-family: 'Spectral SC', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	color: #FFFFFF;
	list-style-type: none;
	}	

.poftfolio li:nth-child(6) {
	position: absolute;
	width: 324px;
	height: 104px;
	left: 438px;
	top: 437px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
	list-style-type: none;
	}	

	.poftfolio li:nth-child(7) {
	position: absolute;
	width: 170px;
	height: 30px;
	left: 922px;
	top: 244px;
	font-family: 'Spectral SC', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	color: #2E2F22;
	list-style-type: none;
	}

.poftfolio li:nth-child(8) {
	position: absolute;
	width: 261px;
	height: 56px;
	left: 876px;
	top: 318px;
	font-family: 'Spectral SC', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	color: #2E2F22;
	list-style-type: none;
	}

.poftfolio li:nth-child(9) {
	position: absolute;
	width: 351px;
	height: 52px;
	left: 831px;
	top: 437px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #2E2F22;
	list-style-type: none;
	}

.poftfolio input {
	position: absolute;
	width: 224px;
	height: 46px;
	margin-left: 0px;
	
	margin-top: 733px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	background-color: white;
	
	border: 1px solid #202117;
	box-sizing: border-box;
	border-radius: 10px;
	align-self: center;
	}	

	
										/* Раздел написать мне */

.feedback {
	position: absolute;
	width: 996px;
	height: 741px;
	top: 3785px;
	left: 222px;
	/*border: 1px solid black;*/
	}

.feedback h1 {
	position: absolute;
	width: 290px;
	height: 55px;
	margin-top: 0px;
	left: 353px;
	/*border: 1px solid black;*/
	text-align: center;
	vertical-align: center;

	font-family: 'Spectral SC', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 55px;
	color: #2E2F22;
	}	

.container_feedback	{
	position: absolute;
	width: 996px;
	height: 637px;
	
	display: flex;
	margin-top: 104px;
	border-bottom-left-radius: 10px;
	border-top-left-radius:  10px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	background-image: url("/my-test/img/feedback.png");
	flex-direction: row;
	flex-wrap: wrap;
	}

.container_feedback input:nth-child(1) {
	
	width: 407px;
	height: 63px;
	margin-top: 104px;
	margin-left: 81px;
	border: 1px solid #202117;
	padding-left: 20px;
	background: rgba(255, 255, 255, 0.4);

	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #202117;
	opacity: 0.7;
}

.container_feedback input:nth-child(2) {
	
	width: 407px;
	height: 63px;
	margin-top: 104px;
	margin-left: 508px;
	border: 1px solid #202117;
	padding-left: 20px;
	background: rgba(255, 255, 255, 0.4);

	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #202117;
	opacity: 0.7;
}

.container_feedback textarea {	
	width: 837px;
	height: 293px;
	margin-top: 220px;
	margin-left: 81px;
	border: 1px solid #202117;
	border-radius: 10px;
	padding-top: 20px;
	padding-left: 20px;
	background: rgba(255, 255, 255, 0.4);

	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #202117;
	opacity: 0.7;
}

.feedback li:first-child {
	position: absolute;
	width: 101px;
	height: 28px;
	margin-left: 50px;
	margin-top: 157px;
	list-style-type: none;
	/*border: 1px solid black;*/

	font-family: 'Spectral SC', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	color: #2E2F22;
}

.feedback li:nth-child(2) {
	position: absolute;
	width: 58px;
	height: 28px;
	margin-left: 477px;
	margin-top: 157px;
	list-style-type: none;
	/*border: 1px solid black;*/

	font-family: 'Spectral SC', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	color: #2E2F22;
}	

.feedback li:last-child {
	position: absolute;
	width: 118px;
	height: 28px;
	margin-left: 50px;
	margin-top: 275px;
	list-style-type: none;
	/*border: 1px solid black;*/

	font-family: 'Spectral SC', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	color: #2E2F22;
}	

.feedback input {
	position: absolute;
	width: 224px;
	height: 46px;
	margin-left: 386px;
	
	margin-top: 560px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
		
	border: 1px solid #202117;
	box-sizing: border-box;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0);
	}

											/* Подвал */

.page-footer {

	position: absolute;
	width: 1440px;
	height: 181px;
	left: 0px;
	top: 4607px;

	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	color: #2E2F22;

	background: #D7D1C9;
	/*border: 1px solid black; */
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}

.page-footer div:first-child {
	margin-left: 405px;
}		

.page-footer div:last-child {
	margin-right: 405px;
}		
